body {
	display: flex;
	justify-content: center;
	font-size: 14px;
}

input {
	border:0;
	padding: 0;
	border-color: transparent;
	width: 100%;
	font-size: 16px;
	border:0;
	padding: 0;
	height: 30px;
	background: transparent;
}

input:focus, button:focus {
	outline: none;
}

.container {
	padding-top: 100px;
	/*background: blue;*/
	height: 100%;
	width: 70%;
}

.row-input::after {
	content: "";
	height: 1px;
	width: 100%;
	color: red;
	background: #e5e5e5;
	position: relative;
	bottom: 0px;

}

.row {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.code {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.send_code {
	border-color: transparent;
	background: transparent;
	width: 45%;
	margin-left: 10px;
}

.send_code::before {
	content: "";
	position: absolute;
    height: 14px;
    width: 1px;
	background: #e5e5e5;
}
.submit {
	width: 100%;
	height: 36px;
	border-radius: 5px;
	line-height: 16px;
	background: #FFCC00;
}

.get-code-faild {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
